extends layout.pug

block content 
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Rachel Braband
        p.lead.text-light
          | Full Stack JavaScript Developer.
        .portfolio-bio
          p
            | While I am new to the computer science field, my educational and career experience lends itself to adaptability and motivation. I am a classically trained musician with two post graduate degrees.
            | I am constantly looking to explore new possibilities and opportunities which led me to coding. I recently graduated from Treehouse with a certificate for "Full Stack JavaScript Developer". Please take a look at some
            | of the projects I completed!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li HTML
          li CSS
          li JavaScript
          li Node.js
          li API
          li RegEx
          li React Context API
          li GitHub
          li Pug
          li OOP Principles
          li React
          li SQL 
          li SQLite
          li JSON
          li MySQL
          li XML
          li REST API
        h6 Contact Info        
        li 630-667-6219
        li rebraband@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/rachel-braband-94ba42185/', target = '_blank') LinkedIn
        a.button.expanded(href='https://github.com/rbraband521', target = '_blank') GitHub
  