h1 {
  font-family: 'Merriweather', serif;
  text-shadow: 2px 2px grey;
}

h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
    color: rgb(220 220 199);
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    font-style: italic;
    color: rgb(102, 102, 102);
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: rgb(21, 28, 151);
}

.text-light-center{
  color: rgb(245 245 238);
  text-align: center;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #fefefe;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #121213;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #999;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #555;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  .portfolio-me a:hover{
    color: #999;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #101011;
  background: rgb(221 221 221);
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
   background: rgb(221, 221, 221);
 }

.portfolio-intro{
  margin: 0;
  padding: 25px 50px 5px;
  background: rgb(221 221 221);
  box-shadow: inset 1px 0px 6px 3px rgb(24 24 25);
  background: linear-gradient(45deg, lightblue 0%, white 45%, #05345fa6 80%)
}

.portfolio-intro p{
  /* border-bottom: 1px solid #eaeaea; */
  padding-bottom: 40px;
}

.portfolio-index{
  margin: 0;
  padding: 25px 50px;
  /* background: lightblue; */
  background-image: url(../images/Rome.JPG);
  background-size: cover;
  background-position: bottom;
  box-shadow: inset 1px 0px 6px 3px rgb(24 24 25);
  background-color: #bcdfea;
  background-blend-mode: multiply;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}

.whatinput-types-initial{
  background: rgb(221, 221, 221);
}

.grid-y {
  background: rgb(47 44 60);
  box-shadow: inset -1px 1px 6px 3px rgb(18 18 19);
}

.off-canvas {
  /* background: rgb(26, 48, 45); */
}

.basket {
  width: 15%;
  float: right;
  border-radius: 70px;
}

.basket2 {
  width: 3%;
  float: right;
  border-radius: 50px;
}

@media (min-width: 1350px) {
  .basket {
    border-radius: 110px;
    width: 9%
  }
}

.github {
  width: 3rem;
  border-radius: 70px;
}

.linkedin {
  width: 3rem;
  border-radius: 70px;
}